/* CSS Document */
body
{
margin:0px;
padding:0px;
background-color:#b42700;
}

.white_bg
{
background-color:#ffffff;
}

.bdy_bg
{
background-color:#b42700;
}

.hdr-green_bg
{
background-color:#b1c403;
}

a
{
outline:none;
}

.btn_bg
{
background-image:url(images2/btn_bg_18.gif);
background-repeat:repeat-x;
height:49px;
}

.brown_bg
{
background-color:#ce7427;
}

.hdr_links
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#faa289;
font-weight:normal;
text-decoration:underline;
}
a.hdr_links
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#faa289;
font-weight:normal;
text-decoration:underline;
}
a.hdr_links:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#faa289;
font-weight:normal;
text-decoration:none;
}

.hdr_div
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:#faa289;
padding-left:5px;
padding-right:5px;
font-weight:normal;
text-decoration:none;
}

.orange_bg
{
background-image:url("images2/orange_bg_03.gif");
background-repeat:repeat-x;
height:290px;
}

.btn_links
{
font-family:papyrus;
font-size:18px;
color:#e59c3d;
font-weight:bold;
text-decoration:none;
}
a.btn_links
{
font-family:papyrus;
font-size:18px;
color:#e59c3d;
font-weight:bold;
text-decoration:none;
}
a.btn_links:hover
{
font-family:papyrus;
font-size:18px;
color:#000000;
font-weight:bold;
text-decoration:none;
}

.dot_line
{
background-image:url(../images2/dot_line_56.gif);
background-repeat:repeat-x;
}

.heading1
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:18px;
color:#737926;
font-weight:normal;
text-decoration:none;
}

.heading2
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:15px;
color:#d82101;
font-weight:normal;
text-decoration:none;
}

.heading3
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
color:#ffffff;
padding-left:10px;
font-weight:bold;
text-decoration:none;
}

.text1
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#4f4e4d;
line-height:17px;
font-weight:normal;
text-decoration:none;
}

.text2
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#4f4e4d;
font-weight:normal;
text-decoration:none;
}

.text3
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#a2370f;
font-weight:normal;
text-decoration:none;
}

.text4
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#737926;
font-weight:normal;
text-decoration:underline;
}

.text5
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#FF0000;
font-weight:normal;
text-decoration:none;
}

.textbox1
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#4f4e4d;
font-weight:normal;
text-decoration:none;
width:140px;
height:18px;
border:1px solid #cccccc;
}

.textbox2
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#4f4e4d;
font-weight:normal;
text-decoration:none;
width:140px;
height:40px;
border:1px solid #cccccc;
}

.readmore_links
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#737926;
font-weight:bold;
text-decoration:underline;
}
a.readmore_links
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#737926;
font-weight:bold;
text-decoration:underline;
}
a.readmore_links:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#737926;
font-weight:bold;
text-decoration:none;
}

.green-head_bg
{
background-color:#8b9a04;
}

.orange-head_bg
{
background-color:#c24a14;
}

.ftr_bg
{
background-color:#e9eaef;
}

.ftr_text
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
line-height:17px;
color:#666666;
font-weight:normal;
text-decoration:none;
}

.ftr_links
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
line-height:17px;
color:#000000;
font-weight:normal;
text-decoration:underline;
}
a.ftr_links
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
line-height:17px;
color:#000000;
font-weight:normal;
text-decoration:underline;
}
a.ftr_links:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
line-height:17px;
color:#000000;
font-weight:normal;
text-decoration:none;
}

